body {
    background-color: #f2f7fc;
    margin: 0;
    padding: 0;
}


/******************** FORSIDE ********************/
nav a {
    width: 30vw;
    margin: 1vw;

}

#menupunkt:hover {
    transform: scale(1.2);
}

nav {
    height: 10vw;
    text-align: end;
    position: absolute;
    width: 99vw;
    left: 1vw;
    z-index: 101;
    margin-top: 15px;
}

nav img {
    width: 60px;
    transition: all .2s ease-in-out;
}

#logo {
    position: absolute;
    left: 1vw;
}

.forside_video {
    width: 100vw;
    position: relative;
    margin: 0;
}


/******************** ABOUT ********************/


/******************** WORK ********************/
.work_overskrift {
    text-align: center;
    padding-top: 30vw;
    color: grey;
    margin: 0;
}


.all_work_foto {
    max-width: 80vw;
    height: auto;
    margin: 0 auto;
    align-content: center;
    position: relative;
}


.all_work_tekst {
    position: absolute;
    width: 70vw;
    color: grey;
    font-size: 1.5rem;
    background-color: white;
    padding: 5vw;
    margin-top: -10vw;
}


/******* SOULLAND *******/
.soulland_foto {
    margin-top: 10vw;
}

/******* OFF LICENSE - CASH ONLY *******/
.off_foto {
    margin-top: 40vw;
}

/****** EROS TORSO *****/
.eros_foto {
    margin-top: 80vw;
}

/****** SOFT BOXING *****/
.soft_foto {
    margin-top: 80vw;
}

/****** FORT *****/
.fort_foto {
    margin-top: 80vw;
}

.fort_2 {
    margin-left: 4vw;
}

/****** KIKI *****/
.kiki_foto {
    margin-top: 80vw;
}

/****** MATER *****/
.mater_foto {
    margin-top: 80vw;
}

/******************** CONTACT ********************/







@media only screen and (min-width: 600px) {

    /******************** FORSIDE ********************/
    nav img {
        width: 100px;
    }

    /******************** ABOUT ********************/


    /******************** WORK ********************/
    .work_overskrift {
        padding-top: 12vw;
        font-size: 3rem;
    }

    .all_work_foto {
        max-width: 100%;
    }

    .all_work_tekst {
        width: 30vw;
        left: 5vw;
        padding: 3vw;
        margin-top: -2vw;
    }

    /***** SOULLAND *****/
    .soulland_foto {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3vw;
        padding-left: 8vw;
        margin-top: 0;
    }

    .fotosoulland_3,
    .fotosoulland_2,
    .fotosoulland_1 {
        width: 426px;
        height: 680px;
        margin: 0 2px;
    }


    /***** OFF LICENSE - CASH ONLY *****/
    .off_foto {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20vw;
        padding-top: 1vw;
        padding-left: 8vw;
    }

    .fotooff_1,
    .fotooff_2,
    .fotooff_3 {
        margin: 0 2px;
    }


    /***** EROS TORSO *****/
    .eros_foto {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20vw;
        padding-top: 1vw;
        padding-left: 8vw;
    }

    .fotoeros_1,
    .fotoeros_2,
    .fotoeros_3 {
        margin: 0 2px;
    }


    /***** SOFT BOXING *****/
    .soft_foto {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20vw;
        padding-top: 1vw;
        padding-left: 8vw;
    }

    .soft1,
    .soft2,
    .soft3 {
        margin: 0 2px;
    }


    /***** FORT *****/
    .fort_foto {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20vw;
        padding-top: 1vw;
        padding-left: 8vw;
    }

    .fort_1,
    .fort_2,
    .fort_3 {
        margin: 0 2px;
    }


    /***** KIKI BEACH CLUB *****/
    .kiki_foto {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20vw;
        padding-top: 1vw;
        padding-left: 8vw;
    }

    .kiki_1,
    .kiki_2,
    .kiki_3 {
        margin: 0 2px;
    }


    /***** MATER *****/
    .mater_foto {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20vw;
        padding-top: 1vw;
        padding-left: 8vw;
    }

    .mater1,
    .mater2,
    .mater3 {
        margin: 0 2px;
    }




    /******************** CONTACT ********************/
}
