body {
    background-color: #f2f7fc;
    margin: 0;
    padding: 0;
}


/*forside*/
nav a {
    width: 30vw;
    margin: 1vw;
}

nav {
    height: 10vw;
    text-align: end;
    position: absolute;
    width: 99vw;
    left: 1vw;
    z-index: 101;
}

img {
    width: 60px;
}

#logo {
    position: absolute;
    left: 1vw;


}

@media only screen and (min-width: 600px) {
    img {
        width: 100px;
    }
}

.forside_video {
    width: 100vw;
    position: relative;
    margin: 0;
}

/*about*/


/*contact*/


/*work*/
